<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  </head>

  <body ng-app="MonApp">

    <div ng-controller="CommentsCtrl" ng-init="query='elit'">

      {{query}}

    <input type="text" ng-model="query"/>
    <select ng-model='order'>
      <option value='username'> Organiser par nom </option>
      <option value='content'> Organiser par contenu </option>
    </select>




      <div ng-repeat="comment in comments | filter:{content: query} | orderBy:order">{{user | uppercase}}
        <p>
        <strong>{{comment.username}}</strong>
        {{comment.content}}

      </p>
      <input type="text" ng-model="query"/>
</div>
</div>
<script type="text/javascript">

var app = angular.module('MonApp',[ngAnimate]);
app.config(function($routeProvider){

});
app.controller('CommentsCtrl', function($scope){

  //console.log($scope);
    $scope.comments = [
      {
        'username': 'Bob',
        'city': 'Arras',
        'email': 'bob.arras@hotmail.com',
        'content': 'hello! Nice to meet you'
      },
      {
        'username': 'Nelson',
        'city': 'Canterburry',
        'email': 'nc@hotmail.com',
        'content': 'I love cats and tea'
      },
      {
        'username': 'Gertrude',
        'city': 'Berlin',
        'email': 'gb@hotmail.com',
        'content': 'Ich heisse Gertrude'
      },
      {
        'username': 'Nokko',
        'city': 'Nokobini',
        'email': 'nn@hotmail.com',
        'content': 'CHOCOLATE'
      }
    ];
  });
</script>
<!--  <div ng-init="users=[{username:'Elder',content:'Dead roots stiring ! '},{username:'Emancipator',content:'Do you wanna chill man ?! '},{username:'Stupeflip',content:' Le crew ne mourra pas ! '},{username:'Ommmm',content:'Ommmmmm... ! '},{username:'Sun O)))',content:'Destroy your brain with dark bass vibration ! '},{username:'AmenRa',content:'Devil is comming ... '},{username:'Queen of the stone age',content:'Stoner guy let me try ! '}]">

<ul>
<!--  <li ng-repeat="user in users | filter:query | orderBy:'+username'">{{user | uppercase}}</li>
<li ng-repeat="user in users | filter:query | orderBy:order">{{user | uppercase}}</li>

</ul>
</div>

<!-- {{task}}
{{users | filter:'S'}}-->
  </body>
</html>
